.imageContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	border-top: 20px groove #2085eb;
	border-bottom: 20px groove #2085eb;
}

.timerContainer {
	position: absolute;
	right: 0rem;
	bottom: -1rem;
	font-family: "Lithos Pro Black";
	font-size: 2rem;
	color: white;
	border-radius: 10rem;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
}

.timer {
	background: -webkit-linear-gradient(#eee, #0072f6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2rem;
}

@media screen and (min-width: 48rem) {
	.imageContainer {
		/* minus border size of the lights */
		/* padding: 3rem;
		width: 700px; */

		width: 85%;
		border: 30px groove #2085eb;
	}

	.timerContainer {
		padding: 1rem;
	}

	.timer {
		font-size: 4rem;
	}
}
