.statsModal {
	position: absolute;
	z-index: 1;
	min-height: 400px;
	background: transparent;
	border: 0;
	height: 100%;
	display: flex;
	align-items: center;
	margin-top: -4rem;
}

@media screen and (min-width: 48rem) {
	.statsModal {
		min-width: 700px;
		max-width: 900px;
	}
}

.score,
.nextGame,
.social {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.statsContainer {
	margin-top: 1rem;
}

@media screen and (min-width: 48rem) {
	.statsContainer {
		margin-top: 4rem;
	}

	.bubbleContainer {
		display: flex;
		gap: 1rem;
		align-items: center;
		flex-direction: column;
	}

	.score,
	.nextGame,
	.social {
		flex-direction: row;
	}
}

.title {
	color: white;
	font-family: "Lithos Pro Black";
	font-size: 3rem;
	text-align: center;
	letter-spacing: -7px;
	color: blue;

	text-shadow: -2px -2px 0 yellow, 2px -2px 0 yellow, -2px 2px 0 yellow,
		2px 2px 0 yellow;
}

@media screen and (min-width: 48rem) {
	.title {
		font-size: 4rem;
	}
}
